.h1{
  margin: 20px;
}

#startGameButton{
  width: 30%;
  align-content: center;
  margin: 30px;
  font-size: 14px;
  padding: 5px;
}

#displayText{
  align-content: center;
  margin: 12px;
  font-size: 16px;
  padding: 10px;
}
